## Pandas Series
    Pandas Series is a One Dimensional indexed array. It is most similar to the NumPy array that can store data of any type (integers, floats, strings, Python objects, etc.).

### Import Pandas

In [1]:
import pandas as pd

### Check Version

In [3]:
pd.__version__

'2.2.3'

### Creating Pandas Series

In [8]:
ser_1 = pd.Series([1, 4, 6, -8, 6.9, "Pandas", False])
ser_1

0         1
1         4
2         6
3        -8
4       6.9
5    Pandas
6     False
dtype: object

In [28]:
# Check the type of ser_1 object
type(ser_1)

pandas.core.series.Series

### Creating Empty Series

In [11]:
ser_2 = pd.Series([])
ser_2

Series([], dtype: object)

### Creating Series Using a different method

In [13]:
# Changing the index of series
ser_3 = pd.Series([1, 2, 3, 4, 5, 6], index = ['a', 'b', 'c', 'd', 'e', 'f'])
ser_3

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [15]:
# Changing data Type of series into float
ser_4 = pd.Series([23, 45, 65, 89, 39], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
ser_4

a    23.0
b    45.0
c    65.0
d    89.0
e    39.0
dtype: float64

### Creating series from scalar values ( scalar values means single value)

In [16]:
ser1_scalar = pd.Series(4,index = [1,2,3,4,5,6])
ser1_scalar

1    4
2    4
3    4
4    4
5    4
6    4
dtype: int64

### Creating Series From Python dictionary

In [19]:
ser_dict = pd.Series({"Sr_no" : [1,2,3,4,5], "Name": ['Satvik', 'Harsh', 'Sumit', 'Yash', 'Laksh'], "Roll_no" : [101,102,103,104,105]})
ser_dict

Sr_no                          [1, 2, 3, 4, 5]
Name       [Satvik, Harsh, Sumit, Yash, Laksh]
Roll_no              [101, 102, 103, 104, 105]
dtype: object

In [21]:
# Accessing element from series
ser_dict[1]

C:\Users\HP\AppData\Local\Temp\ipykernel_18196\1424211894.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser_dict[1]

['Satvik', 'Harsh', 'Sumit', 'Yash', 'Laksh']

In [23]:
# Slicing Series
ser_dict[1:]

Name       [Satvik, Harsh, Sumit, Yash, Laksh]
Roll_no              [101, 102, 103, 104, 105]
dtype: object

## Math Operation

In [26]:
# Adding Two series
ser_5 = pd.Series([23, 67, 84, 76, 99])
ser_6 = pd.Series([47, 82, 61, 59, 31])

# Method 1
A = ser_5 + ser_6
print(A)

# Method 2 
ser_5.add(ser_6)

0     70
1    149
2    145
3    135
4    130
dtype: int64

0     70
1    149
2    145
3    135
4    130
dtype: int64

In [27]:
# Find Min , Max , Smallest Element of Series
print("Mean of series s5 ::",ser_5.mean())
print("Max Element of series s5 ::",ser_5.max())
print("Samllest Element of series s5 ::",ser_5.min())

Mean of series s5 :: 69.8
Max Element of series s5 :: 99
Samllest Element of series s5 :: 23