## Pandas Dataframe with different ways
    A Pandas DataFrame is a two-dimensional, labeled data structure in Python, similar to a table in Excel or a SQL database.DataFrames are widely used in data analysis, data cleaning, and machine learning because they make it easy to:

    - Store structured data
    
    - Filter and sort records
    
    - Handle missing values
    
    - Perform statistical operations
    
    - Merge and join datasets

### import pandas

In [11]:
import pandas as pd

### Creating empty dataframe

In [12]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

### Creating Dataframe With Single Column

In [13]:
pd_df1 = pd.DataFrame(['A', 'B', 'C', 'D'])
print(pd_df1)

   0
0  A
1  B
2  C
3  D

### Creating Dataframe With Multiple Column

In [14]:
pd_df2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(pd_df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

### Creating Dataframe By Dictionary

In [15]:
pd_dict = {"Sr_no" : [1,2,3,4,5], "Name": ['Satvik', 'Harsh', 'Sumit', 'Yash', 'Laksh'], "Roll_no" : [101,102,103,104,105]}
pd_df3 = pd.DataFrame(pd_dict)
pd_df3

   Sr_no    Name  Roll_no
0      1  Satvik      101
1      2   Harsh      102
2      3   Sumit      103
3      4    Yash      104
4      5   Laksh      105