## Pandas Read CSV File in Python
    Pandas provides the powerful read_csv() function to load CSV (Comma-Separated Values) files into a DataFrame.
    A DataFrame is a tabular data structure with rows and columns, making it easy to analyze, clean, and manipulate data.

In [1]:
import pandas as pd

### Read CSV File by Pandas

In [12]:
df1 = pd.read_csv("Fortune_5.csv")
df1.head(2)

    ID       Name           Companies      Profit Growth
0  1.0    Lamtone         IT Services   5274553.0    30%
1  2.0  Stripfind  Financial Services  11412916.0    20%

In [14]:
df2 = pd.read_csv("Fortune_10.csv")
df2.head(5)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

### Change The Index column by ( index_col)

In [17]:
df1 = pd.read_csv("Fortune_10.csv", index_col = "Name")
df1.head(5)

,ID,Industry,Inception,Revenue,Expenses,Profit,Growth
Name,,,,,,,
Lamtone,1,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
Stripfind,2,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
Canecorporation,3,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
Mattouch,4,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
Techdrill,5,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

### Skip the rows , Strat from the features

In [20]:
df2 = pd.read_csv("Fortune_10.csv", skiprows = 4)
df2

,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
0,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
1,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
2,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
3,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
4,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
5,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### For Accessing the particular column in file

In [27]:
df3 = pd.read_csv("Fortune_10.csv", usecols = [1,3,4,6])
df3.head(5)

              Name  Inception       Revenue    Profit
0          Lamtone       2009  $11,757,018    5274553
1        Stripfind       2010  $12,329,371   11412916
2  Canecorporation       2012  $10,597,009    3005820
3         Mattouch       2013  $14,026,934    6597557
4        Techdrill       2009  $10,573,990    3138627

### Accessing the particular rows in file

In [30]:
df4 = pd.read_csv("Fortune_10.csv", nrows = 5)
df4

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

### Gives the Data type of Every Column

In [35]:
# Checking the Columns
df4.columns

Index(['ID', 'Name', 'Industry', 'Inception', 'Revenue', 'Expenses', 'Profit',
       'Growth'],
      dtype='object')

In [37]:
# Checking Datatypes
df4.dtypes

ID            int64
Name         object
Industry     object
Inception     int64
Revenue      object
Expenses     object
Profit        int64
Growth       object
dtype: object

In [38]:
df4.head(5)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

In [39]:
df4.tail(3)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

### Entire Information of Dataset

In [40]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         5 non-null      int64
 1   Name       5 non-null      object
 2   Industry   5 non-null      object
 3   Inception  5 non-null      int64
 4   Revenue    5 non-null      object
 5   Expenses   5 non-null      object
 6   Profit     5 non-null      int64
 7   Growth     5 non-null      object
dtypes: int64(3), object(5)
memory usage: 452.0+ bytes